.footer {
  bottom: 0;
  width: 100%;
}


.divfooter {
  padding-top: 9%;
}

.navfooter{
  text-align: center;
}

.list{
  margin-left: 1rem;
  color: rgb(255, 255, 255);
  display: inline-block;
  width: fit-content;
}
ul li a{
  color: aliceblue;
  text-decoration: none;
}

/* .list:hover{
  color: rgb(0, 0, 0);
  border-bottom: 2px solid yellowgreen;
  cursor: pointer;
  transition: 0.6 ease-in-out;
  background-color: rgb(240, 240, 240, 0.3);
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
} */
