.divRow1{
 margin-top: 9rem;
}

ul li{
    list-style-type: none;
}

/* .orders-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .order-card {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  } */
  