

<div class="container">
  <div class="row divRow1">
    <div class="row text-white divsubRow">
      <h3 class="fs-3" style="text-align: center">Welcome to The Food Cadge</h3>
      <p class="fs-4">
        Indulge your senses in a culinary journey at The Food Cadge, where
        exquisite flavors and warm ambiance await. Our passion for food is
        reflected in every dish we craft, ensuring a dining experience that
        lingers on your palate and in your memories.
      </p>
    </div>
  </div>
  <div class="row">
    
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-12 divBox">
      <marquee width="100%" direction="left">
        <a routerLink="reservation">Book Reservation</a>
      </marquee>
    </div>

    <div class="col-md-6 col-sm-6 col-12 divBox">
      <marquee width="100%" direction="left">
        <a routerLink="menu/veg">Today's special: {{ todayspecial }}</a>
      </marquee>
    </div>
  </div> 
</div>
<div class="container">
  <div class="row ms-4 my-4">
    <div class="col-md-6 col-sm-6 col-12">
      <img
        src="assets/img/hImg1.jpg"
        alt="FoodImage Collage"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-12 pe-5" style="text-align: justify">
      <h3 class="fs-1 my-5" style="text-align: center; font-weight: 700">
        Discover Culinary Excellence
      </h3>
      <p class="fs-4">
        At The Food Cadge, we believe in the art of gastronomy. Our menu is a
        symphony of flavors, curated with care to satisfy every palate. From
        savory appetizers to mouthwatering entrees and decadent desserts, our
        chefs bring their expertise to the table, offering a diverse range of
        culinary delights.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row ms-4 my-4">
    <div class="col-md-6 col-sm-6 col-12 pe-5" style="text-align: justify">
      <h3 class="fs-1 my-5" style="text-align: center; font-weight: 700">
        Farm-to-Table Freshness
      </h3>
      <p class="fs-4">
        We take pride in sourcing the finest ingredients, ensuring that every
        dish is a celebration of freshness and quality. Our commitment to
        sustainability extends from our choice of suppliers to our kitchen
        practices, making each bite not only delicious but also responsibly
        crafted.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <img
        src="assets/img/hImg2.jpg"
        alt="Farm-to-Table Freshness"
        class="img-fluid"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="row ms-4 my-4">
    <div class="col-md-6 col-sm-6 col-12">
      <img
        src="assets/img/himg3.jpg"
        alt="Elegant Ambiance"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6 col-sm-6 col-12 pe-5" style="text-align: justify">
      <h3 class="fs-1 my-5" style="text-align: center; font-weight: 700">
        Elegant Ambiance
      </h3>
      <p class="fs-4">
        Step into an atmosphere of refined elegance at The Food Cadge. Whether
        you're enjoying a romantic dinner, celebrating a special occasion, or
        gathering with friends, our restaurant provides a sophisticated setting
        to complement your dining experience. Immerse yourself in the cozy
        ambiance and let our attentive staff elevate your time with us.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row ms-4 my-4">
    <div class="col-md-6 col-sm-6 col-12 pe-5" style="text-align: justify">
      <h3 class="fs-1 my-5" style="text-align: center; font-weight: 700">
        Exceptional Service
      </h3>
      <p class="fs-4">
        We take pride in sourcing the finest ingredients, ensuring that every
        dish is a celebration of freshness and quality. Our commitment to
        sustainability extends from our choice of suppliers to our kitchen
        practices, making each bite not only delicious but also responsibly
        crafted.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 col-12">
      <img
        src="assets/img/himg4.jpg"
        alt="Farm-to-Table Freshness"
        class="img-fluid"
      />
    </div>
  </div>
</div>

